aidge_backend_cpu==0.10.1
aidge_core==0.10.1
aidge_export_cpp==0.10.1
aidge_onnx==0.10.1
aidge_quantization==0.10.1
certifi==2026.7.22
charset-normalizer==3.5.1
cloudpickle==3.1.2
colorama==0.4.6
contourpy==1.4.0
cycler==0.12.1
fonttools==4.66.0
idna==3.20
Jinja2==3.1.6
joblib==1.6.0
kiwisolver==1.5.1
markdown-it-py==4.2.0
MarkupSafe==3.0.3
matplotlib==3.11.2
mdurl==0.1.2
ml_dtypes==0.6.0
narwhals==2.26.0
numpy==2.5.3
onnx==1.23.0
packaging==26.3
pillow==12.3.0
protobuf==7.36.2
Pygments==2.21.0
pyparsing==3.3.3
python-dateutil==2.9.0.post0
requests==2.34.2
rich==15.0.0
safetensors==0.8.0
scikit-learn==1.9.1
scipy==1.18.1
six==1.17.0
threadpoolctl==3.7.0
tqdm==4.70.1
typing_extensions==4.16.0
urllib3==2.8.0
